DROP POLICY IF EXISTS \
Enable
all
access
for
admins\ ON public.goals;
CREATE POLICY \Enable
all
access
for
admins\ ON public.goals FOR ALL TO authenticated USING (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')) WITH CHECK (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin'));

DROP POLICY IF EXISTS \Enable
all
access
for
admins\ ON public.recurring_finances;
CREATE POLICY \Enable
all
access
for
admins\ ON public.recurring_finances FOR ALL TO authenticated USING (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')) WITH CHECK (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin'));

DROP POLICY IF EXISTS \Enable
all
access
for
admins\ ON public.employee_announcements;
CREATE POLICY \Enable
all
access
for
admins\ ON public.employee_announcements FOR ALL TO authenticated USING (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')) WITH CHECK (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin'));
